<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited
          this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Type your Question</legend>

    <div class="control-group">
      <%= f.label :content, "Question", :class => 'control-label' %>
      <div class="controls">
        <div id="q_chars_left">
          <span id="char_count"><%= 5000 - ((@question.content.to_s.empty?) ? 0 : @question.content.length) %></span>
          <span> characters left</span>
        </div>
        <%= f.text_area :content, :class => 'text_area big-width', rows: 15 %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :content, raw("Tags<br />(Comma Seperated)"), :class => 'control-label' %>
      <div class="controls">
        <div class="big_grey" id="tag_error">Only 10 tags are allowed</div>
        <%= f.text_area :tag_string, :class => 'text_area big-width', rows: 5 %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', questions_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
