.question
  %div= raw qua_mark question.content
  .action
    = link_to pluralize(question.answers.count, "Answer"), question, class: "btn btn-success white-text btn-mini"
    -if question.user == current_user
      = link_to "Edit", edit_question_path(question), class: "btn btn-warning white-text btn-mini"
      = link_to "Delete", question_path(question), method: :delete, confirm: "Are you sure?", class: "btn btn-danger white-text btn-mini"
    %span.little-info= question.created_at.to_s(:short)
    %span.little-info= question.user.name
