%h1.grey-heading= "Search result for  #{params[:q][:content_cont]}"

%div= link_to 'Ask a Question', new_question_path, :class => 'btn btn-success margin-top'

.search-result= render @questions

%div= will_paginate @questions
