<h1 class="grey-heading">Question</h1>
<div class="question">
  <p><%= @question.content %></p>
  <div class="action">
    <% if @question.user == current_user %>
      <%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-mini' %>
      <%= link_to 'Delete', question_path(@question), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini' %>
    <% end %>
  </div>
</div>

<h1 class="grey-heading">Answers</h1>
<%= render @answers %>

<div>
<%= will_paginate @answers %>
</div>

<% if user_signed_in? %>
  <%= form_for([@question, @question.answers.build], :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <legend>Add an answer</legend>
    <div class="control-group">
      <%= f.label :content, "Answer", class: "control-label" %>
      <div class="controls">
        <%= f.text_area :content, :class => 'text_area big-width', rows: 15 %>
      </div>
      <div class="form-actions">
         <%= f.submit "Add Answer", class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
  <% end %>
<% else %>
<h1 class="grey-heading">Add an Answers</h1>
  <%= link_to "Login to Add Answer", new_user_session_path, class:"btn btn-success btn-large margin-top" %>
<% end%>