<p>
  <%= @question.content %>
</p>

<div>
  <%= link_to 'Back', questions_path, :class => 'btn btn-mini'  %>
  <%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-mini' %>
  <%= link_to 'Delete', question_path(@question), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini' %>
</div>

<%= render @question.answers %>

<%= form_for([@question, @question.answers.build], :html => { :class => 'form-horizontal' }) do |f| %>
<fieldset>
  <legend>Add an answer</legend>
  <div class="control-group">
    <%= f.label :content, "Answer", class: "control-label" %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area big-width', rows: 15 %>
    </div>
    <div class="form-actions">
       <%= f.submit "Add Answer", class: "btn btn-primary" %>
    </div>
  </div>
</fieldset>
<% end %>