<h1>Your Profile</h1>

<p>
  <b>Name</b><br>
  <%= @profile.name %>
</p>

<p>
  <b>About you</b><br>
  <%= @profile.about_you %>
</p>

<p>
  <b>Email</b><br>
  <%= @profile.user.email %>
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_profile_path(@profile), :class => 'btn' %>
  <%= link_to 'Delete', profile_path(@profile), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
