.answer
  %div= raw qua_mark answer.content
  .action
    = link_to "perma link", question_answer_path(answer.question, answer), class: 'btn btn-primary btn-mini'
    -if answer.user == current_user
      = link_to "edit", edit_question_answer_path(answer.question, answer), class: "btn btn-warning btn-mini"
      = link_to "delete", question_answer_path(answer.question, answer), method: :delete, class:"btn btn-danger btn-mini", confirm: "Do you really want to delete this Answer?"
    %span.little-info= answer.created_at.to_s(:short)
    %span.little-info= answer.user.name
  %hr
