<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qua</title>
    <%= render partial: 'questions/header_boo' %>

    <!-- Le fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>
    
    <%= render partial: 'questions/nav_bar' %>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Karthikeyan A K</li>
                <li><%= link_to "Profile", new_profile_path %></li>
                <li><%= link_to "My Questions", action: :questions, controller: :user  %></li>
                <li><%= link_to "My Answers", action: :answers, controller: :user  %></li>
                <!-- to be done soon
                <li><%= link_to "My Tags", action: :tags, controller: :user  %></li>
              -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->

      <%= render partial: 'questions/footer' %>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <%= render partial: 'questions/footer_tags' %>

  </body>
</html>
